<div class="d-flx bg-admin">
    <app-sidenav></app-sidenav>
    
    <div class="content-area">
        <app-pheader></app-pheader>
        
        <div class="d-flx j-c-sb p-2">
            <h3>Dashboard</h3>
        </div>

        <div class="d-flx pl-2 pr-2 mb-1 column">
            <div class="cards bg-white c-border d-flx j-c-sb p-1h fl-1 w-4 m-1 card-bg">
                <div class="al-s-c c-img bg-l-green">
                    <img src="assets/images/Group2.svg" alt="">
                </div>

                <div class="fl-1 ml-1 mr-2">
                    <h3 class="f-title">13</h3>
                    <p class="text-ash f-default">Total Forms</p>
                </div>
            </div>

            <div class="cards bg-white c-border d-flx j-c-sb p-1h fl-1 w-4 m-1 card-bg">
                <div class="al-s-c c-img bg-l-red">
                    <img src="assets/images/Group21.svg" alt="">
                </div>

                <div class="fl-1 ml-1 mr-2">
                    <h3 class="f-title">15</h3>
                    <p class="text-ash f-default">Pending Forms</p>
                </div>
            </div>

            <div class="cards bg-white c-border d-flx j-c-sb p-1h fl-1 w-4 m-1 card-bg-2">
                <div class="al-s-c c-img bg-l-green">
                    <img src="assets/images/Group.svg" alt="">
                </div>

                <div class="fl-1 ml-1 mr-2">
                    <h3 class="f-title">100</h3>
                    <p class="text-ash f-default">Completed Forms</p>
                </div>
            </div>
        </div>

        <!-- <div class="d-flx p-1 wrap-flex pt-0">
            <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6 p-1 pt-0">
                <div class="cards bg-white">
                    <div class="card-heading d-flx j-c-sb p-1 bg-table h-border">
                        <p class="f-b ml-1">Employees</p>
                    </div>

                    <div class="pt-1 pb-2">
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6 p-1 pt-0">
                <div class="cards bg-white">
                    <div class="card-heading d-flx j-c-sb p-1 bg-table h-border">
                        <p class="f-b ml-1">Departments</p>
                    </div>

                    <div class="pt-1 pb-2">
                        <canvas id="myLineChart"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flx p-1 wrap-flex pt-0">
            <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6 p-1 pt-0">
                <div class="cards bg-white">
                    <div class="card-heading d-flx j-c-sb p-1 bg-table h-border">
                        <p class="f-b ml-1">Locations</p>
                    </div>

                    <div class="pt-1 pb-2">
                        <canvas id="myPieChart"></canvas>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6 p-1 pt-0">
                <div class="cards bg-white">
                        <div class="card-heading d-flx j-c-sb p-1 bg-table h-border">
                            <p class="f-b ml-1">Visitors</p>
                        </div>

                    <div class="pt-1 pb-2">
                        <canvas id="myRadarChart"></canvas>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>