<header class="cards bg-white d-flx j-c-c al-i-c">
    <div class="container">
        <div class="row al-i-c">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <a href="javascript:;" routerLink="/home" class="brand">
                    <img src="../../../assets/images/menu.png" class="logo-img" alt="hankali">
                    <p class="logo-img ml-h inline" alt="hankali">Hankali</p>
                    <!-- <img src="../../../assets/images/eluzini.png" class="logo-img ml-h" alt="eluzini"> -->
                    <!-- <img src="assets/images/eluzini.png" class="logo-img ml-h" alt="eluzini"> -->
                </a>
            </div>

            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <ul class="d-flx pull-right al-i-c home-links">
                    <li><a href="javascript:;" routerLink="/pricing" routerLinkActive="active">Pricing</a></li>
                    <li><a href="javascript:;" routerLink="/contact" routerLinkActive="active">Contact Us</a></li>
                    <li><a href="javascript:;" routerLink="/login" routerLinkActive="active"
                            *ngIf="!isLoggedIn">Login</a></li>
                    <li><a href="javascript:;" (click)="logout()" *ngIf="isLoggedIn">Logout</a></li>
                    <li><a href="javascript:;" routerLink="/dashboard" routerLinkActive="active"
                            class="btn btn-default tt-cap">Dashboard</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>