<div class="h-bg-alt">
    <app-header></app-header>

    <section class="p-sec-one">
        <div class="d-flx j-c-c al-i-c fd-c ta-c">
            <h2 class="h-heading">Hankali Pricing Information</h2>
            <p class="text-ash h-subtitle">Pricing and Features List below.</p>
        </div>
    </section>

    <section class="p-sec-three mt-3">
        <div class="container">
            <div class="pricing-table row">
                <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12 p-0">
                    <div class="cards bg-white p-2 ta-c p-height">
                        <h3 class="tt-cap mt-1">Enterprise Essential <br /> <span style="font-size: 14px;">(On-Premise)</span></h3>
                        <!-- <p>$ <span>219</span>/mo</p> -->
                        
                        <div class="scroll-pricing">
                            <ul class="m-1">
                                <li>
                                    <div class="d-flx list-about-eluzini">
                                        <img src="assets/images/icon_check_pricing.png" alt="">
                                        <p class="text-ash">Notification integrations with third party apps</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="d-flx list-about-eluzini">
                                        <img src="assets/images/icon_check_pricing.png" alt="">
                                        <p class="text-ash">Customized Integration and modifications (Additonal Cost)</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="d-flx list-about-eluzini">
                                        <img src="assets/images/icon_check_pricing.png" alt="">
                                        <p class="text-ash">Self-Hosted with accessibility on-premise and in the cloud</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="d-flx list-about-eluzini">
                                        <img src="assets/images/icon_check_pricing.png" alt="">
                                        <p class="text-ash">Visitor check-in Terminal with Visitor Approval Process and Evacuation</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="d-flx list-about-eluzini">
                                        <img src="assets/images/icon_check_pricing.png" alt="">
                                        <p class="text-ash">Receptionist Account & Visitor Waiting List</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="d-flx list-about-eluzini">
                                        <img src="assets/images/icon_check_pricing.png" alt="">
                                        <p class="text-ash">Employee Clock-in Terminal</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="d-flx list-about-eluzini">
                                        <img src="assets/images/icon_check_pricing.png" alt="">
                                        <p class="text-ash">Live Dashboard with Data Summary</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="d-flx list-about-eluzini">
                                        <img src="assets/images/icon_check_pricing.png" alt="">
                                        <p class="text-ash">Eluzini Alert for notification & Eluzini Welcome (Mobile and Tablet Apps)</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="d-flx list-about-eluzini">
                                        <img src="assets/images/icon_check_pricing.png" alt="">
                                        <p class="text-ash">Conversation- Instant Messaging and Notification Center</p>
                                    </div>
                                </li> 
                                <li>
                                    <div class="d-flx list-about-eluzini">
                                        <img src="assets/images/icon_check_pricing.png" alt="">
                                        <p class="text-ash">Instant Notification- Email, Eluzini Alert,  Web-In App notification, SMS (Coming Soon)</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="d-flx list-about-eluzini">
                                        <img src="assets/images/icon_check_pricing.png" alt="">
                                        <p class="text-ash">Admin Reporting with Analytics</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="d-flx list-about-eluzini">
                                        <img src="assets/images/icon_check_pricing.png" alt="">
                                        <p class="text-ash">Visitor Invite, Pre-Registered Visitors and Recurring Visitors</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="d-flx list-about-eluzini">
                                        <img src="assets/images/icon_check_pricing.png" alt="">
                                        <p class="text-ash">Unlimited Locations</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="d-flx list-about-eluzini">
                                        <img src="assets/images/icon_check_pricing.png" alt="">
                                        <p class="text-ash">Remote Clock-in and Remote Clock-in Request</p>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <button class="btn btn-pricing tt-cap mt-2 mb-1">Choose Plan</button>
                    </div>
                </div>

                <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12 p-0">
                    <div class="cards bg-white p-2 ta-c recommended pos-rel" style="height: auto !important">
                        <span class="tt-cap pos-abs r-tag">recommended</span>
                        <h3 class="tt-cap mt-1">Essential</h3>
                        <!-- <p>$ <span>219</span>/mo</p> -->
                        <ul class="m-1">
                            <li>
                                <div class="d-flx list-about-eluzini">
                                    <img src="assets/images/icon_check_pricing.png" alt="">
                                    <p class="text-ash">Visitor check-in Terminal with Visitor Approval Process and Evacuation</p>
                                </div>
                            </li>
                            <li>
                                <div class="d-flx list-about-eluzini">
                                    <img src="assets/images/icon_check_pricing.png" alt="">
                                    <p class="text-ash">Receptionist Account & Visitor Waiting List</p>
                                </div>
                            </li>
                            <li>
                                <div class="d-flx list-about-eluzini">
                                    <img src="assets/images/icon_check_pricing.png" alt="">
                                    <p class="text-ash">Employee Clock-in Terminal</p>
                                </div>
                            </li>
                            <li>
                                <div class="d-flx list-about-eluzini">
                                    <img src="assets/images/icon_check_pricing.png" alt="">
                                    <p class="text-ash">Live Dashboard with Data Summary</p>
                                </div>
                            </li>
                            <li>
                                <div class="d-flx list-about-eluzini">
                                    <img src="assets/images/icon_check_pricing.png" alt="">
                                    <p class="text-ash">Eluzini Alert for notification & Eluzini Welcome (Mobile and Tablet Apps)</p>
                                </div>
                            </li>
                            <li>
                                <div class="d-flx list-about-eluzini">
                                    <img src="assets/images/icon_check_pricing.png" alt="">
                                    <p class="text-ash">Conversation- Instant Messaging and Notification Center</p>
                                </div>
                            </li> 
                            <li>
                                <div class="d-flx list-about-eluzini">
                                    <img src="assets/images/icon_check_pricing.png" alt="">
                                    <p class="text-ash">Instant Notification- Email, Eluzini Alert,  Web-In App notification, SMS (Coming Soon)</p>
                                </div>
                            </li>
                            <li>
                                <div class="d-flx list-about-eluzini">
                                    <img src="assets/images/icon_check_pricing.png" alt="">
                                    <p class="text-ash">Admin Reporting with Analytics</p>
                                </div>
                            </li>
                            <li>
                                <div class="d-flx list-about-eluzini">
                                    <img src="assets/images/icon_check_pricing.png" alt="">
                                    <p class="text-ash">Visitor Invite, Pre-Registered Visitors and Recurring Visitors</p>
                                </div>
                            </li>
                            <li>
                                <div class="d-flx list-about-eluzini">
                                    <img src="assets/images/icon_check_pricing.png" alt="">
                                    <p class="text-ash">Unlimited Locations</p>
                                </div>
                            </li>
                            <li>
                                <div class="d-flx list-about-eluzini">
                                    <img src="assets/images/icon_check_pricing.png" alt="">
                                    <p class="text-ash">Remote Clock-in and Remote Clock-in Request</p>
                                </div>
                            </li>
                        </ul>

                        <button class="btn btn-pricing-default tt-cap mt-2 mb-1">Contact Us</button>
                    </div>
                </div>

                <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12 p-0">
                    <div class="cards bg-white p-2 ta-c p-height">
                        <h3 class="tt-cap mt-1">Professional</h3>
                        <!-- <p>$ <span>219</span>/mo</p> -->

                        <div class="scroll-pricing">
                            <ul class="m-1">
                                <li>
                                    <div class="d-flx list-about-eluzini">
                                        <img src="assets/images/icon_check_pricing.png" alt="">
                                        <p class="text-ash">Conferencing, Voice and Video Call (Intercom)</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="d-flx list-about-eluzini">
                                        <img src="assets/images/icon_check_pricing.png" alt="">
                                        <p class="text-ash">Department Grouping and Group Chat</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="d-flx list-about-eluzini">
                                        <img src="assets/images/icon_check_pricing.png" alt="">
                                        <p class="text-ash">Task Monitoring and Management</p>
                                    </div>
                                </li>
                                <li>
                                        <div class="d-flx list-about-eluzini">
                                            <img src="assets/images/icon_check_pricing.png" alt="">
                                            <p class="text-ash">Notification integrations with third party apps</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="d-flx list-about-eluzini">
                                            <img src="assets/images/icon_check_pricing.png" alt="">
                                            <p class="text-ash">Customized Integration and modifications (Additonal Cost)</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="d-flx list-about-eluzini">
                                            <img src="assets/images/icon_check_pricing.png" alt="">
                                            <p class="text-ash">Self-Hosted with accessibility on-premise and in the cloud</p>
                                        </div>
                                    </li>
                                <li>
                                    <div class="d-flx list-about-eluzini">
                                        <img src="assets/images/icon_check_pricing.png" alt="">
                                        <p class="text-ash">Visitor check-in Terminal with Visitor Approval Process and Evacuation</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="d-flx list-about-eluzini">
                                        <img src="assets/images/icon_check_pricing.png" alt="">
                                        <p class="text-ash">Receptionist Account & Visitor Waiting List</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="d-flx list-about-eluzini">
                                        <img src="assets/images/icon_check_pricing.png" alt="">
                                        <p class="text-ash">Employee Clock-in Terminal</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="d-flx list-about-eluzini">
                                        <img src="assets/images/icon_check_pricing.png" alt="">
                                        <p class="text-ash">Live Dashboard with Data Summary</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="d-flx list-about-eluzini">
                                        <img src="assets/images/icon_check_pricing.png" alt="">
                                        <p class="text-ash">Eluzini Alert for notification & Eluzini Welcome (Mobile and Tablet Apps)</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="d-flx list-about-eluzini">
                                        <img src="assets/images/icon_check_pricing.png" alt="">
                                        <p class="text-ash">Conversation- Instant Messaging and Notification Center</p>
                                    </div>
                                </li> 
                                <li>
                                    <div class="d-flx list-about-eluzini">
                                        <img src="assets/images/icon_check_pricing.png" alt="">
                                        <p class="text-ash">Instant Notification- Email, Eluzini Alert,  Web-In App notification, SMS (Coming Soon)</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="d-flx list-about-eluzini">
                                        <img src="assets/images/icon_check_pricing.png" alt="">
                                        <p class="text-ash">Admin Reporting with Analytics</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="d-flx list-about-eluzini">
                                        <img src="assets/images/icon_check_pricing.png" alt="">
                                        <p class="text-ash">Visitor Invite, Pre-Registered Visitors and Recurring Visitors</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="d-flx list-about-eluzini">
                                        <img src="assets/images/icon_check_pricing.png" alt="">
                                        <p class="text-ash">Unlimited Locations</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="d-flx list-about-eluzini">
                                        <img src="assets/images/icon_check_pricing.png" alt="">
                                        <p class="text-ash">Remote Clock-in and Remote Clock-in Request</p>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <button class="btn btn-pricing tt-cap mt-2 mb-1">Contact Us</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="p-sec-two">
        <div class="container">
            <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                <div class="ta-c">
                    <h2 class="h-heading mb-2">Frequently asked questions</h2>
                </div>

                <div class="cards bg-white pt-2 pb-2 mt-1h">
                    <ul class="accordion">
                        <li>
                            <input type="checkbox" checked>
                            <img src="assets/images/icon_accordion.png" alt="">
                            <h2>What is Eluzini Syinin?</h2>
                            <p>Eluzini Syinin is a gatekeeping solution that simplifies and automates the visitor management and employee clock-in processes of organisations, providing real-time updates and instant notification on all activities at your front desk across multiple locations.</p>
                        </li>
                        <li>
                            <input type="checkbox" checked>
                            <img src="assets/images/icon_accordion.png" alt="">
                            <h2>What do I need to use Eluzini?</h2>
                            <p>This is depends on your organisations IT policy and preferred deployment method. <br /> Eluzini can be deployed on servers- on-premise or cloud service platform like Heroku, Azure, Amazon Web Service etc. <br /> To access the gate keeping features like visitor and employee check-in, this can be achieved via: <br /><br />
                            
                                1. Web App through web browser on <b>www.eluzini.com</b> <br />
                                2. Eluzini Welcome tablet app: Android devices must be on Android Marshmallow 6.0 upwards. Elzuini Welcome is coming soon to iOS.
                            </p>
                        </li>
                        <li>
                            <input type="checkbox" checked>
                            <img src="assets/images/icon_accordion.png" alt="">
                            <h2>How do your plans work?</h2>
                            <p>Eluzini Essential and Professional plans starts off with 100 employees for $100 per month, additional 100 employees costs $50. For example Color Pallet Ltd has 300 employees, they will be paying $200 a month- $100 for the initial 100 employees and $100 for the additional 200 employees (that is $50 for each additional 100 employees). <br /><br />

                            Eluzini Enterprise Essential is a one time payment option that offers on premise server or self hosted cloud deployment, for more details contact <a href="mailto:sales@eluzini.com">sales@eluzini.com</a> or call <b>+2348157033850</b>. </p>
                        </li>
                        <li>
                            <input type="checkbox" checked>
                            <img src="assets/images/icon_accordion.png" alt="">
                            <h2>What hardware is required to work with Eluzini?</h2>
                            <p>To utilize Eluzini Welcome tablet app and Eluzini Alert mobile app, you require an Android tablet and phone on Android Marshmallow 6.0 upwards. Elzuini Alert and Welcome are only avaiable on Android but will be coming soon to Apple iOS. </p>
                        </li>
                        <li>
                            <input type="checkbox" checked>
                            <img src="assets/images/icon_accordion.png" alt="">
                            <h2>What Printer do i need to work with Eluzini?</h2>
                            <p> For seamless integration with Eluzini Welcome, Brother QL820 is the recommended label printer.</p>
                        </li>

                        <li>
                            <input type="checkbox" checked>
                            <img src="assets/images/icon_accordion.png" alt="">
                            <h2>How do I know when I have a Visitor?</h2>
                            <p>You will be alerted by email, SMS if configured (this is an additional service), via Web app and Eluzini Alert app.   </p>
                        </li>
                        <li>
                            <input type="checkbox" checked>
                            <img src="assets/images/icon_accordion.png" alt="">
                            <h2>Can I restrict who can visit me?</h2>
                            <p>Yes, Eluzini provides visitor approval workflow which restricts permitting just anyone into your office and also helps reduce waste of visitor badges. Also after reviewing a visitors information via the web app or Eluzini Alert app, hosts can inform receptionist and security on next steps via Conversations feature, the instant messaging and notification center of Eluzini.</p>
                        </li>
                        <li>
                            <input type="checkbox" checked>
                            <img src="assets/images/icon_accordion.png" alt="">
                            <h2>What happens if Visitors forget to Check-Out?</h2>
                            <p>Eluzini automatically checks out all visitors by 12 midnight depending on the domain’s timezone.</p>
                        </li>
                        <li>
                            <input type="checkbox" checked>
                            <img src="assets/images/icon_accordion.png" alt="">
                            <h2>How do I know when I have a Visitor?</h2>
                            <p>You will be alerted by email, SMS if configured (this is an additional service), via Web app and Eluzini Alert app.   </p>
                        </li>
                        <li>
                            <input type="checkbox" checked>
                            <img src="assets/images/icon_accordion.png" alt="">
                            <h2>I would like to know more about Eluzini?</h2>
                            <p>You can check www.eluzini.com for more details or chat with us on the website,  call our hotline <b>+2348157033850</b> , email <a href="mailto:info@eluzini.com">info@eluzini.com</a>.</p>
                        </li>
                        <li>
                            <input type="checkbox" checked>
                            <img src="assets/images/icon_accordion.png" alt="">
                            <h2>Do you provide Support?</h2>
                            <p>Yes, we provide support via ticketing system for Essential and Professional Plan, Enterprise Essential plans come with an SLA. For Customer and Tecnical support call +2348157033850 or email <a href="mailto:support@eluzini.com">support@eluzini.com</a>.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>