<div>
    <app-header></app-header>
    <section class="sec-one">
        <div class="container">
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                <h2 class="h-heading">Data gathering application portal</h2>
                <p class="text-ash h-subtitle h-border-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Donec in tempor nibh, vitae consectetur nisi. Aliquam erat volutpat. Morbi sodales nisl ut sapien
                    mattis elementum.</p>

                <div class="control-box d-flx al-i-c j-c-c">
                    <input type="text" class="form-control text-input" placeholder="enter your email address" />
                    <button class="btn btn-default ml-1">Get Started</button>
                </div>
            </div>
        </div>
    </section>

    <section class="sec-two">
        <div class="container">
            <h2 class="h-heading">What we do</h2>
            <div class="d-flx column">
                <div class="m-1 w-4 p-1h" style="padding: 0;">
                    <p class="h-it-w">Praesent turpis orci, commodo pharetra purus ut, posuere interdum nisi. Aliquam
                        sodales aliquet lacinia. Donec in lacus rhoncus, consequat mi id, gravida lorem. Sed volutpat
                        dictum neque vel consequat. Curabitur viverra sit amet nibh et scelerisque. Mauris enim est,
                        interdum et elit nec </p>
                </div>
                <div class="m-1 w-4 p-1h" style="padding:0;">
                    <p class="h-it-w">Praesent turpis orci, commodo pharetra purus ut, posuere interdum nisi. Aliquam
                        sodales aliquet lacinia. Donec in lacus rhoncus, consequat mi id, gravida lorem. Sed volutpat
                        dictum neque vel consequat. Curabitur viverra sit amet nibh et scelerisque. Mauris enim est,
                        interdum et elit nec. </p>
                </div>
            </div>
            <main class="full-width tabs pos-rel mt-2">
                <!-- <input id="tab1g" type="radio" name="tabslocation" checked>
                <label for="tab1g">Employees</label>

                <input id="tab1h" type="radio" name="tabslocation">
                <label for="tab1h">Visitors</label> -->

                <section id="content1h">
                    <div class="row">
                        <!-- <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <ul class="mt-2" style="margin-top: 100px;">
                                <li>
                                    <div class="d-flx list-about-eluzini">
                                        <img src="assets/images/icon_tick.png" alt="">
                                        <p class="text-ash">Have your frontdesk or security handle the capture of your
                                            visitors or let your visitors do it by themselves.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="d-flx list-about-eluzini">
                                        <img src="assets/images/icon_tick.png" alt="">
                                        <p class="text-ash">Visitors upon arrival fill in their information, take a
                                            photograph and If required, will be prompted to sign an NDA and check-in
                                            their personal effects for additional security.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="d-flx list-about-eluzini">
                                        <img src="assets/images/icon_tick.png" alt="">
                                        <p class="text-ash">Next, visitors type and select the name of their host from a
                                            list and provide details on purpose of visit.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="d-flx list-about-eluzini">
                                        <img src="assets/images/icon_tick.png" alt="">
                                        <p class="text-ash">After a successful check-in, the host is notified of their
                                            visitor via email, Eluzini Alert mobile app and webapp and can proceed to
                                            accept or decline the visitor which in turn prompts the receptionist on next
                                            step.</p>
                                    </div>
                                </li>
                            </ul>
                        </div> -->

                    </div>
                </section>

                <section id="content1g">
                    <div class="row">
                        <!-- <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <h3 class="contact-header mt-2" style="margin-left:2rem; margin-top: 60px;">Option One -
                                Eluzini Welcome</h3>

                            <ul>
                                <li>
                                    <div class="d-flx list-about-eluzini">
                                        <img src="assets/images/icon_tick.png" alt="">
                                        <p class="text-ash">Employees sign into the Employee Terminal on the Eluzini
                                            Welcome tablet app or web app with any of our secure options.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="d-flx list-about-eluzini">
                                        <img src="assets/images/icon_tick.png" alt="">
                                        <p class="text-ash">Employees can proceed to take mandatory photographs, select
                                            department or team for the clock-in and add a description to the clock-in if
                                            required.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="d-flx list-about-eluzini">
                                        <img src="assets/images/icon_tick.png" alt="">
                                        <p class="text-ash">Managers receive instant notifications when employees
                                            clock-in to work and stay up to date on activities with live dashboard and
                                            summary Board. </p>
                                    </div>
                                </li>
                            </ul>

                            <h3 class="contact-header mt-2" style="margin-left:2rem;">Option Two - Eluzini Alert Mobile
                                App</h3>
                            <ul>
                                <li>
                                    <div class="d-flx list-about-eluzini">
                                        <img src="assets/images/icon_tick.png" alt="">
                                        <p class="text-ash">Using the Eluzini Alert app, employees can clock-in to work
                                            when they arrive at their designated geo-fenced work locations. Once in the
                                            vicinity employees are prompted to Clock-In and all it takes is one selfie.
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="d-flx list-about-eluzini">
                                        <img src="assets/images/icon_tick.png" alt="">
                                        <p class="text-ash">As each of your employees clock-in, you will receive alerts
                                            on the live dashboard and can review each employees information.</p>
                                    </div>
                                </li>
                            </ul>
                        </div> -->
                    </div>
                </section>
            </main>
        </div>
    </section>

    <!-- <section class="sec-three">
        <div class="container">
            <div class="d-flx column">
                <div class="m-1 w-4 p-1h">
                    <h2 class="h-heading" style="width:196px;">
                        A few reasons why we are the best
                    </h2>
                </div>

                <div class="m-1 w-4 p-1h">
                    <div class="h-rounded-pane pos-rel mb-1">
                        <img src="assets/images/icons/Front Desk iCON .png" alt="">
                    </div>
                    <h3 class="h-title">Frontdesk Profile</h3>
                    <p class="text-ash mb-1 h-subtitle">
                        Empower your frontdesk with features that make their work life easier, liberate them from the
                        mundane, let your visitors check-in by themselves with tablet app or let your receptionist
                        handle it without leaving the desk.
                    </p>
                </div>

                <div class="m-1 w-4 p-1h">
                    <div class="h-rounded-pane pos-rel mb-1">
                        <img src="assets/images/icons/Approval Workflow Icon .png" alt="">
                    </div>
                    <h3 class="h-title">Approval Workflow</h3>
                    <p class="text-ash mb-1 h-subtitle">
                        Save paper badges and only admit visitors that have been approved by their host.
                    </p>
                </div>

                <div class="m-1 w-4 p-1h">
                    <div class="h-rounded-pane pos-rel mb-1">
                        <img src="assets/images/icons/Multiple locations icon .png" alt="">
                    </div>
                    <h3 class="h-title">Multiple Locations</h3>
                    <p class="text-ash mb-1 h-subtitle">
                        Receive visitors across multiple locations and track your employees arrival to work with geo
                        fencing.
                    </p>
                </div>

                <div class="m-1 w-4 p-1h">
                    <div class="h-rounded-pane pos-rel mb-1">
                        <img src="assets/images/icons/badge-64.png" alt="">
                    </div>
                    <h3 class="h-title">Badge & Photographs</h3>
                    <p class="text-ash mb-1 h-subtitle">
                        Easily identify your visitors with badges that have their information and photograph, name if
                        their host.
                    </p>
                </div>

                <div class="m-1 w-4 p-1h">
                    <div class="h-rounded-pane pos-rel mb-1">
                        <img src="assets/images/icons/Analytics Lite.png" alt="">
                    </div>
                    <h3 class="h-title">Better view with Analytics Lite</h3>
                    <p class="text-ash mb-1 h-subtitle">
                        Reach decisive conclusions as a team, collaborate in Department group chat or have private one
                        on one conversations via voice or video calls.
                    </p>
                </div>

                <div class="m-1 w-4 p-1h">
                    <div class="h-rounded-pane pos-rel mb-1">
                        <img src="assets/images/icons/iNSTANT nOTIFICATION .png" alt="">
                    </div>
                    <h3 class="h-title">Instant Notifications</h3>
                    <p class="text-ash mb-1 h-subtitle">
                        Receive notification on the go by email, SMS and Eluzini Mobile App for all your frontdesk or
                        security post activities involving your visitors and employees.
                    </p>
                </div>

                <div class="m-1 w-4 p-1h">
                    <div class="h-rounded-pane pos-rel mb-1">
                        <img src="assets/images/icons/Employee Clock-in.png" alt="">
                    </div>
                    <h3 class="h-title">Employee Clock-In</h3>
                    <p class="text-ash mb-1 h-subtitle">
                        Manage your employee’s time and attendance with real time notifications,live dashboard and in
                        depth reporting.
                    </p>
                </div>

                <div class="m-1 w-4 p-1h">
                    <div class="h-rounded-pane pos-rel mb-1">
                        <img src="assets/images/icons/Customization and Theme-64.png" alt="">
                    </div>
                    <h3 class="h-title">Customization and Themes </h3>
                    <p class="text-ash mb-1 h-subtitle">
                        Impress your visitors with your own unique look and feel, add your company logo, brand colors on
                        the Eluzini Welcome Tablet app and on your visitor badges.
                    </p>
                </div>

                <div class="m-1 w-4 p-1h">
                    <div class="h-rounded-pane pos-rel mb-1">
                        <img src="assets/images/icons/NDA Icon.png" alt="">
                    </div>
                    <h3 class="h-title">NDA</h3>
                    <p class="text-ash mb-1 h-subtitle">
                        Visitors can stay compliant when they come to your office by accepting and signing your
                        company’s policies and NDA.
                    </p>
                </div>

                <div class="m-1 w-4 p-1h">
                    <div class="h-rounded-pane pos-rel mb-1">
                        <img src="assets/images/icons/Belonging Icon.png" alt="">
                    </div>
                    <h3 class="h-title">Check-in Belongings</h3>
                    <p class="text-ash mb-1 h-subtitle">
                        As an added security measures you can get your visitors to check-in their belongings and check
                        them out with security when leaving.
                    </p>
                </div>

                <div class="m-1 w-4 p-1h">
                    <div class="h-rounded-pane pos-rel mb-1">
                        <img src="assets/images/icons/Pre-registration icon.png" alt="">
                    </div>
                    <h3 class="h-title">Pre-Registration and Recurring Visitors</h3>
                    <p class="text-ash mb-1 h-subtitle">
                        Plan and schedule your guest visits and reduce their wait time at your reception with Eluzini’s
                        pre-registration and recurring visitor feature.
                    </p>
                </div>

                <div class="m-1 w-4 p-1h">
                    <div class="h-rounded-pane pos-rel mb-1">
                        <img src="assets/images/icons/Unlimited visitors.png" alt="">
                    </div>
                    <h3 class="h-title">Unlimited Visitors and Devices</h3>
                    <p class="text-ash mb-1 h-subtitle">
                        Receive as many visitors as you please without limitations and stay on top of every visit with
                        approval process and live dashboard and real time notification.
                    </p>
                </div>

                <div class="m-1 w-4 p-1h">
                    <div class="h-rounded-pane pos-rel mb-1">
                        <img src="assets/images/icons/Conversation 2.png" alt="">
                    </div>
                    <h3 class="h-title">Conversations</h3>
                    <p class="text-ash mb-1 h-subtitle">
                        Keep collaboration going, stay in touch with your security, frontdesk and colleagues with
                        Conversations, the Instant messaging and notification centre for Eluzini.
                    </p>
                </div>

                <div class="m-1 w-4 p-1h">
                    <div class="h-rounded-pane pos-rel mb-1">
                        <img src="assets/images/icons/Mobility 3.png" alt="">
                    </div>
                    <h3 class="h-title">Mobility</h3>
                    <p class="text-ash mb-1 h-subtitle">
                        Welcome visitors and employees to your premises with Eluzini Welcome and Keep in touch with
                        activities on the go with Eluzini Alert mobile app. Eluzini Alert also provides remote clock-in
                        features for your employees.
                    </p>
                </div>

                <div class="m-1 w-4 p-1h">
                    <div class="h-rounded-pane pos-rel mb-1">
                        <img src="assets/images/icons/Deployment 1.png" alt="">
                    </div>
                    <h3 class="h-title">Deployment Options</h3>
                    <p class="text-ash mb-1 h-subtitle">
                        Eluzini can be accessed as a cloud solution or deployed on your on-premise servers or self
                        hosted on your preferred cloud service provider.
                    </p>
                </div>
                <div class="m-1 w-4 p-1h">
                </div>
                <div class="m-1 w-4 p-1h">
                </div>
            </div>
        </div>
    </section> -->

    <section class="sec-four">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="padding: 0 2rem;">
                    <img src="assets/images/bgdthree.jpg" class="h-c-img" alt="eluzini">
                    <h2 class="h-heading mt-2">Know more about Hankali</h2>
                    <p class="text-ash h-subtitle">Call us on <b> +234*******</b>, email <a
                            href="mailto:info@hankali.com">info@hankali.com</a> </p>
                    <button class="btn btn-default" routerLink="/pricing">Get Started</button>
                </div>

                <!-- <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pt-1">
                    <div class="cards bg-white contact-card d-flx j-c-sb p-1h fl-1 m-1 mt-2 al-i-c mb-1">
                        <img src="assets/images/icon_contact.png" alt="">

                        <div class="fl-1 ml-1 mr-2">
                            <h3 class="f-title">24/7 Customer Care</h3>
                            <p class="text-ash f-default">Email: <a
                                    href="mailto:support@eluzini.com">support@eluzini.com</a>
                                <br /> Hotline: <b>+2348157033850</b></p>
                        </div>
                    </div>

                    <div class="cards bg-white contact-card d-flx j-c-sb p-1h fl-1 m-1 mt-2 al-i-c mb-1">
                        <img src="assets/images/icon_contact.png" alt="">

                        <div class="fl-1 ml-1 mr-2">
                            <h3 class="f-title">Stay up to date</h3>
                            <p class="text-ash f-default">For more information about our plans contact <a
                                    href="sales@eluzini.com">sales@eluzini.com</a> or call <b>+2348157033850</b></p>
                        </div>
                    </div>

                    <div class="cards bg-white contact-card d-flx j-c-sb p-1h fl-1 m-1 mt-2 al-i-c mb-1">
                        <img src="assets/images/icon_contact.png" alt="">

                        <div class="fl-1 ml-1 mr-2">
                            <h3 class="f-title">Dedicated sales rep</h3>
                            <p class="text-ash f-default">Email <a href="mailto:info@eluzini.com">info@eluzini.com</a>
                                to find out more about dedicated sales representatives.</p>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </section>
</div>