<div style="overflow:hidden;">
    <app-header></app-header>

    <section class="sec-contact">
        <!-- <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="true">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map> -->
        
        <div class="contact-pane pos-abs cards bg-white">
            <div class="inner">
                <h2 class="h-heading">Contact Us</h2>
                <h3 class="contact-header mt-1">Email Us</h3>
                <ul style="margin-bottom: 2rem">
                    <li><a href="mailto:info@eluzini.com">info@eluzini.com</a></li>
                    <li><a href="mailto:support@eluzini.com">support@eluzini.com</a></li>
                    <li><a href="mailto:sales@eluzini.com">sales@eluzini.com</a></li>
                </ul>

                <h3 class="contact-header mt-1">Call Us</h3>
                <ul style="margin-bottom: 2rem">
                    <li><b>+234 8157 033 850</b><li>
                </ul>

                <h3 class="contact-header mt-1">Address</h3>
                <p>Ikeja Lagos, Nigeria.</p>

                <a href="http://support.eluzini.com/" target="_blank" class="mt-2 btn btn-pricing-default tt-cap">Drop a ticket</a>
            </div>
        </div>
    </section>
</div>